@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:root {
    --primary-color: #32CD32;
    --secondary-color: #f44336;
    --accent-color: #ff9800;
    --text-color: #222222;
    --white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--white);
}

#course-title {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
}

nav a {
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

main h1 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--white);
}

.card h2 {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0.5rem;
    text-align: center;
}

.card p {
    padding: 1rem;
}

.card ul {
    padding: 1rem 2rem;
}

.card img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 1.5rem;
}

#lastModified {
    color: var(--accent-color);
    font-size: 0.8rem;
}

/* for mobile */

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
    main h1 {
        grid-column: auto;
    }
    nav {
        flex-direction: column;
    }
}


